
.Center{
    text-align: center;
    align-self: center;
    vertical-align: middle;
}

.Data{
   vertical-align: middle;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.logo{
    height: 50px;
}

.containerMain{
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: rgb(130, 160, 243);
    border-bottom: 0.5px solid black;
}

.navbar > li{
    display: flex;
    align-items: center;
}

.containerMain > main{
    height: 100%;
    
}