.sidebar{
min-width: 30vh;
max-width: 30vh;
min-height: 100vh;
color: white;
background-color: rgb(34, 34, 128);
transition: all 0.3s;
}

.sidebar .logo{
    font-family: 'Multi', sans-serif;
    font-weight: 180px;
    padding: .875rem 1.25rem;
}
.sletra{
    color: white;
    font-family: 'Multi', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.menu{
    width: 18rem;
    text-decoration: none;
}

.menu > ul li{
    list-style: none;
}

.menu li{
    padding: 1rem 0rem;
}
