//Style for title and elements in center
.Center{
    text-align: center;
    align-self: center;
    vertical-align: middle;
}

//Style data of the table
.Data{
   vertical-align: middle;
}

ul{
    list-style: none;
}

.logo{
    height: 200px;
}